<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <style>
      body {
        padding: 50px 80px;
        font: 14px "Helvetica Nueue", "Lucida Grande", Arial, sans-serif;
      }
    </style>
  </head>
  <body>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
  </body>
</html>
