@import '../styles/_variables.scss';

.App {
  margin-top:    5em;
  margin-bottom: 5em;
}

.App__steps {
  counter-reset: step-number;
  border-right: 1px solid $border-color;
}

.App__step {
  cursor: not-allowed;
  color: $text-muted;
  font-weight: normal;
  margin-bottom: 2em;
}

.App__step::before {
  counter-increment: step-number;
  content: counter(step-number);

  width: 1.6em;
  height: 1.6em;
  text-align: center;
  display: inline-block;
  border: 1px solid lighten($text-muted, 15%);
  border-radius: 50%;
  margin-right: 0.5em;
}

.App__step.--enabled {
  cursor: pointer;
  color: $text-normal;
  &::before {
    border-color: lighten($text-normal, 15%);
  }
}

.App__step.--active {
  color: black;
  font-weight: bold;
  &::before {
    color: white;
    background-color: $link-color;
    border: 1px solid $link-color;
  }
}
