@import '../styles/_variables.scss';


.Help {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 6rem
}
.Help__content {
  width: 700px;
  text-align: left;
}
.Help__title {
  text-align: center;
}
.Help__text {
  font-size: 1.1rem;
}
