
.IdentifySpecies thead {
  width: 100%;
  background-color: white;
  font-weight: bold;
}

.IdentifySpecies__results {
  height: 500px;
}
.IdentifySpecies__results .sticky-table-table {
  width: 100%;
  white-space: initial;
}
.IdentifySpecies__results .sticky-table-cell {
  background: transparent;
}
.IdentifySpecies__results__head  .sticky-table-cell {
  background: white;
  font-weight: bold;
}


.IdentifySpecies__row {
  cursor: pointer;
}
.IdentifySpecies__row:hover {
  background-color: rgba(#599eff, 0.2) !important;
}
.IdentifySpecies__row--active {}
.IdentifySpecies__row > *:nth-child(2) {
  font-family: monospace;
}
