@import '../styles/_variables.scss';

.IdentifySpecies {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.IdentifySpecies thead {
  width: 100%;
  background-color: white;
  font-weight: bold;
}

.IdentifySpecies__results {
  flex: 1;
  overflow: hidden;
  border: 1px solid $border-color;
  border-radius: $border-radius;
}
.IdentifySpecies__results .sticky-table-table {
  width: 100%;
  white-space: initial;
}
.IdentifySpecies__results .sticky-table-cell {
  background: transparent;
  border-bottom: 1px solid $text-color-muted !important;
}
.IdentifySpecies__results__head  .sticky-table-cell {
  font-size: 0.6em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: $bg-color-default;
  // border-bottom: 1px solid $text-color-normal !important;
}


.IdentifySpecies__row {
  cursor: pointer;
}
.IdentifySpecies__row:hover {
  background-color: rgba(#599eff, 0.2) !important;
}
.IdentifySpecies__row--active {}
.IdentifySpecies__row > *:nth-child(2) {
  font-family: monospace;
}
