@import '../styles/_variables.scss';

.IdentifyReferences thead {
  width: 100%;
  background-color: white;
  font-weight: bold;
}

.IdentifyReferences__results {
  // height: 500px;
}
.IdentifyReferences__results .sticky-table-table {
  width: 100%;
  white-space: initial;
}
.IdentifyReferences__results .sticky-table-cell {
  background: transparent;
  border-bottom: 1px solid $text-color-muted !important;
}
.IdentifyReferences__results__head  .sticky-table-cell {
  font-weight: bold;
  background: $bg-color-default;
  border-bottom: 1px solid $text-color-normal !important;
}


.IdentifyReferences__row {
  cursor: pointer;
}
.IdentifyReferences__row:hover {
  background-color: rgba(#599eff, 0.2) !important;
}
.IdentifyReferences__row--active {}
.IdentifyReferences__row > *:nth-child(2) {
  font-family: monospace;
}
