@import '../styles/_variables.scss';

.IdentifySpecies {
  width: 100%;
  height: 100%;
}

.IdentifySpecies thead {
  width: 100%;
  background-color: white;
  font-weight: bold;
}

.IdentifySpecies__results {
  // height: 500px;
}
.IdentifySpecies__results .sticky-table-table {
  width: 100%;
  white-space: initial;
}
.IdentifySpecies__results .sticky-table-cell {
  background: transparent;
  border-bottom: 1px solid $text-color-muted !important;
}
.IdentifySpecies__results__head  .sticky-table-cell {
  font-weight: bold;
  background: $bg-color-default;
  border-bottom: 1px solid $text-color-normal !important;
}


.IdentifySpecies__row {
  cursor: pointer;
}
.IdentifySpecies__row:hover {
  background-color: rgba(#599eff, 0.2) !important;
}
.IdentifySpecies__row--active {}
.IdentifySpecies__row > *:nth-child(2) {
  font-family: monospace;
}
