

.IdentifyReferences thead {
  width: 100%;
  background-color: white;
  font-weight: bold;
}

.IdentifyReferences__results td:first-child {
  padding-left: 1em;
}
.IdentifyReferences__results td:last-child {
  padding-right: 1em;
}

.IdentifyReferences__row {
  cursor: pointer;
}
.IdentifyReferences__row:hover {
  background-color: rgba(#000000, 0.05);
}
.IdentifyReferences__row--active {
  background-color: rgba(#599eff, 0.5) !important;
}
.IdentifyReferences__row > td:nth-child(2) {
  font-family: monospace;
}
