@import '../styles/_variables.scss';



.ResultsTable {
  flex: 1;
  overflow: hidden;
  border: 1px solid $border-color;
  border-radius: $border-radius;
}
.ResultsTable .sticky-table-table {
  width: 100%;
  white-space: initial;
}
.ResultsTable .sticky-table-cell {
  background: transparent;
  border-bottom: 1px solid $text-color-muted !important;
}
.ResultsTable__head  .sticky-table-cell {
  font-size: 0.6em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $text-color-muted;
  background: $bg-color-default;
}

.ResultsTable .sticky-table-row {
  cursor: pointer;
  transition: background-color .1s;
}
.ResultsTable .sticky-table-row:hover {
  background-color: rgba(white, 0.06) !important;
}
.ResultsTable .sticky-table-row--active {}
.ResultsTable .sticky-table-row > *:nth-child(2) {
  font-family: monospace;
}
