// start of external imports

@import "~normalize-scss/sass/normalize/import-now"; // import normalize-scss
@import "~skeleton-sass-official/src/core/config"; // Skeleton Sass core loader

// import default theme variables
@import "~skeleton-sass-official/src/themes/fresh/vars"; // theme variable overrides

// import default theme styles
@import "~skeleton-sass-official/src/themes/fresh/include_components"; // theme base styles
@import "~skeleton-sass-official/src/themes/fresh/grid"; // theme grid styles

@import '~react-drop-zone/dist/styles.css';

// end of external imports


@import './_variables.scss';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/*
 * Corrections
 */

.DropZone {
  border-color: $border-color;
  margin-bottom: 1rem;
}
