@import '~react-drop-zone/dist/styles.css';

@import './normalize.css';
@import './skeleton.css';
@import './scrollbar.scss';
@import './typography.scss';
@import './layout.scss';
@import './Button.scss';
@import './Spinner.scss';

@import './_variables.scss';

html, body, #root {
  margin: 0;
  padding: 0;
  width:  100%;
  height: 100%;
  overflow: hidden;
}

*::selection      { background: $selection-color; }
*::-moz-selection { background: $selection-color; }
